# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\SLIIT\Year 3 -Semester 1\Software Project Management - SE3080\TimeTableGeneratorDesktopApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
